.venv
venv
__pycache__
.DS_Store
*.ipynb_checkpoints
.ipynb_checkpoints/
.vscode/
.idea/
*.pyc
*.pyo
*.pyd
.Python
env/
sdist/
var/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
share/
bin/
include/
pypy/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/